* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    background-color: #e3effb;
    position: relative;

}

body {
    /* border: 2px solid green; */
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    transition: all 3s ease;
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    padding-top: 65px;

}

footer {
    /* border: 2px solid red; */
    border-top: 1px solid grey;
    background-color: #e3effb;
    text-align: right;
    font-weight: bold;
    font-size: 150%;
    width: 100%;
    margin-top: 40px;
    line-height: 40px;
    padding-right: 7vw;
    text-shadow: 1px 1px grey;
    font-family: 'Tenali Ramakrishna', serif;
    position: absolute;
    bottom: 0;
    right: 0;
}
a {
    text-decoration: none;
    color: black;
}

header {
    /* border: 3px solid blue; */
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0.5px 1px 10px 0.5px grey;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-family: 'Ubuntu', serif;
    position: absolute;
    top: 0;
    right: 0;
}

header h1 {
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-left: 5vw;
    margin-top: 7px;
    font-size: 140%;
    text-shadow: 1.5px 1.25px grey;
}
header a {
    border: none;
    background-color: rgba(9, 127, 223, 1);
    box-shadow: 0.5px 1px 5px 0.7px grey;
    margin-right: 7vw;
    margin-top: 7px;
    color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 85%;
}
header a:hover {
    padding-left: 20px;
    background-color: white;
    color: rgba(9, 127, 223, 1);
    transition: all 500ms ease;
}

#player-info{
    /* border: 2px solid red; */
    text-shadow: 0.5px 0.5px grey;
    font-family: 'Tenali Ramakrishna', 'Ubuntu', sans-serif;
    text-align: center;
    width: 60vw;
    min-width: 300px;
    max-width: 600px;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0.5px 0.4px 5px 1.25px grey;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
#player-info label {
    line-height: 40px;
    font-size: 160%;
}

input#player-name {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0.5px 0.4px 5px 1.25px grey;
    font-size: inherit;
    font-family: 'Ubuntu', serif;
    color: black;
    width: 90%;
    position: absolute;
    top: 35px;
    left: 5%;
    padding: 5px 15px;
    text-align: center;
}

p.category {
    /* border: 1px solid black; */
    border-top: 2px solid grey;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 170%;
    margin-top: -30px;
    margin-bottom: -5px;
    text-shadow: 0.75px 0.5px grey;
    font-family: 'Tenali Ramakrishna',serif;
}

.no-name,.no-category {
    display: block;
    color: red;
    text-align: center;
    font-size: 15px;
    transition: all 1s ease;
}
.no-name {
    padding-top: 40px;
}
.no-category {
    padding-top: 20px;
}
section {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#sections {
    /* border: 2px solid blue; */
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button[type=button] {
    width: 30%;
    min-width: 120px;
    max-width: 200px;
    height: 120px;
    border: 1px solid #e3effb;
    border-radius: 2px;
    color: rgba(9, 127, 223, 1);
    font-size: 120%;
    background-color: #e3effb;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 90px;
}
#play {
    /* border: 2px solid grey; */
    border: none;
    border-top: 2px solid grey;
    padding-top: 15px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#play button {
    border: 2px solid black;
    border: none;
    /* border-radius: 2px; */
    background-color: rgba(9, 127, 223, 0.9);
    box-shadow: 0.5px 0.4px 5px 1.25px grey;
    width: 80%;
    margin: 0 auto;
    font-size: 150%;
    height: 40px;
    font-family: 'Metal Mania',serif;
}


button#vehicle{
    background-image: url("../img/car.png");
    /* background-color: transparent; */
    background-size: 90% 120%;
    background-position: center;
}

button#animal{
    background-image: url("../img/pawprint.svg");
    background-size: 60% 70%;
    background-position: center;
}

button#general{
    background-image: url("../img/knowledge.svg");
    background-size: 150% 70%;
    background-position: top;
    /* flex-grow: 2; */
}

button#video-games{
    background-image: url("../img/joystick.svg");
    background-size: 100% 90%;
    background-position: top;
}

button#anime{
    background-image: url("../img/dragon-ball.svg");
    background-size: 90% 70%;
    background-position: top;
    background-position-y: 10px;
}

button#myth{
    background-image: url("../img/minotaur.svg");
    background-size: 100% 70%;
    background-position-y: 7px;
}

button#history{
    background-image: url("../img/history.svg");
    background-size: 100% 70%;
    background-position-y: 10px;
}

button#computer{
    background-image: url("../img/computer.svg");
    background-size: 100% 80%;
    background-position-y: 7px;
}

button#music{
    background-image: url("../img/music.svg");
    background-size: 70% 70%;
    background-position: top;
    background-position-y: 8px;
}

button#science{
    background-image: url("../img/science.svg");
    background-size: 100% 70%;
    /* background-position: top; */
    background-position-y: 10px;

}

button#sports{
    background-image: url("../img/trophy.svg");
    background-size: 100% 70%;
    background-position: top;
    background-position-y: 7px;
}

button#geography{
    background-image: url("../img/world.svg");
    background-size: 70% 70%;
    background-position: top;
    background-position-y: 7px;

}

/*****************************************
For the quiz.html. You'll have to add these classes and tags to the js, so the styling can hold on it
****************************************/

#quiz-content {
    /* border: 1px solid black; */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    line-height: 30px;
    /* margin-top: 20px; */
    font-size: 18px;    
}


#question {
    /* border: 1px solid green; */
    font-family: 'Tenali Ramakrishna', 'Ubuntu', sans-serif;
    padding-bottom: 15px;
    width: 1000%;
    border-bottom:2px solid grey;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 34px;
    position: relative;
    top: 10px;
    /* left: 10px; */
    animation-name: question-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes question-anim {
    0% {
        left: -10000px
    }
    50% {
        left: -400px;
    }
    100% {
        left: 0;
    }
}


#options {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    /* left: 10px; */
    animation-name: options-anim;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
@keyframes options-anim {
    0% {
        left: -1000vw;
    }
    50% {
        left: -200vw;
    }
    100% {
        left: 0;
    }
}

label.opts {
    border: 2px solid rgb(168, 110, 110);
    border-top-right-radius: 25px;
    margin: 10px;
    width: 80%;
    height: 40px;
    background-color: rgb(197, 189, 189);
    font-family: 'Ubuntu', serif;
}

/* The animation-duration will be the time for each question.
*/
#timer {
    margin-top: 40px;
    /* border: 3px solid purple; */
    position: relative;
    height: 30px;
    align-self: left;
    background-color: green;
    animation-name: time;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes time {
    0% {
        width: 0%;
        background-color: lightblue;
    }
    25% {
        width: 20%;
    }
    50% {
        width: 40%;
        background-color: greenyellow;
    }
    75% {
        width: 60%;
        background-color: pink;
    }
    100% {
        width: 80%;
        background-color: red;

    }
}

label#countdown {
    height: 100%;
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
   
}


#progress {
    border: 1px solid grey;
    /* height: 40px; */
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}


/******************************
FOR THE LEADERBOARD PAGE
******************************/

#leaderboard {
    background-color: #e3effb;
}
table {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 135%;
    width: 70vw;
    text-align: center;
    background-color: #e3effb;
    max-width: 724px;
}

table > caption {
    font-family: 'Metal Mania', 'Ubuntu', sans-serif;
    font-size: 180%;
    /* border: 1px solid grey; */
    color: rgb(80, 4, 4);
    box-shadow: .5px 1px 9px 2px grey;
    border-radius: 10px;
}

thead tr {
    color: brown;
    font-family: 'Tenali Ramakrishna', 'Ubuntu', sans-serif;
    font-size: 140%;
}



table-layout {
    width: 90vw;
}

td {
    padding: 10px;
    /* border: 2px solid black; */
}


tbody tr:nth-child(-n+3) {
    background-color: teal;
    color: gainsboro;
    box-shadow: .5px 2px 9px 2px grey;
    border-radius: 10px;
}

tfoot tr td {
    padding-top: 15px;
}

div#play_again {
    margin: 0 auto;
    margin: 10px;
    text-align: center;
    /* border: 2px solid grey; */
    height: 6vh;

}
#play-again {
    font-family: 'Metal Mania', 'Ubuntu', 'serif';
    text-decoration: none;
    font-weight: 650;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: #e3effb;
    box-shadow: 0.5px 0.7px 7px 0.5px grey;
    font-size: 140%;
    padding: 5px 35px;
    font-family: inherit;
}

#play-again:hover {
    animation-name: btn;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}
@keyframes btn {
    0% {
        padding-right: 10px;
    }
    50% {
        padding-right: 20px;

    }
    100% {
        padding-right: 75px;
        background-color: #e3effb;
        border: 2px solid teal;
        box-shadow: .5px 2px 9px 2px grey;
        color: teal;
    }
}


/***************************** 
Media Querries 
****************************/

@media screen  and (min-width: 620px) {


    /*********************************************
    FOR INDEX PAGE
    *********************************************/
    /* :root {
        background-color: white;
    } */
    button[type=button] {
        width: 22%;
    }
    header h1 {
        margin-left: 10vw;
        font-size: 180%;
    }
    header a {
        margin-right: 10vw;
        font-size: 100%;
    }
    body {
    }

    /*********************************************
    For the Gameplay
    *********************************************/
    #question {
        width: 70%;
    }
    /******************************
    For Leaderboard
    ******************************/

    table-layout {
        width: 100vw;
    }
    
}  



























