.score_page_container {
  position: relative;
  top: 50px;
  left: -100vw;
  margin: auto;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background: #def0f8;
  -webkit-box-shadow: 3px 2px 6px 1px #c5d1c5, -3px -2px 6px 1px #c5d1c5;
          box-shadow: 3px 2px 6px 1px #c5d1c5, -3px -2px 6px 1px #c5d1c5;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.score_page_container .your_score {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  padding-top: 50px;
  margin: 0;
}

.score_page_container .score {
  margin: 40px 0 20px 0;
  font-weight: bolder;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: lightsalmon;
}

.score_page_container .score span {
  color: black;
  font-size: 23px;
}

.score_page_container .rank {
  margin-top: 50px;
  text-align: center;
  font-size: 17px;
}

.score_page_container .score_page_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: -50px;
}

.score_page_container .score_page_buttons .score_page_button {
  width: 150px;
  height: 40px;
  color: white;
  background: #ac3709;
  margin: 0 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.score_page_container .score_page_buttons .score_page_button:hover {
  cursor: pointer;
  background: #e9a488;
  color: black;
}

.question__container {
  position: relative;
  top: 5vh; /* I changed this...*/
  border: 2px solid black;
  width: 70vw;
  min-height: 50vh;
  margin: auto;
  -webkit-transition: all 1s normal;
  transition: all 1s normal;
}

.question__container img {
  position: relative;
  top: 100px;
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}

.question__container p {
  position: relative;
  left: -100vw;
  font-size: 150%; /* I changed this font size*/
  margin-left: 5px;
  -webkit-animation: quest__p 1.5s normal 0s 1 forwards;
          animation: quest__p 1.5s normal 0s 1 forwards;
  text-align: center;
}

.question__container div {
  margin-top: 50px;
}

.question__container div p {
  text-align: start;
  position: relative;
  left: -100vw;
  font-size: 130%;/* i changed this too*/
  border: 2px solid black;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  -webkit-animation: answer__p 1.5s normal 0.5s 1 forwards;
          animation: answer__p 1.5s normal 0.5s 1 forwards;
}

.question__container div p:hover {
  background: #cfcbcb;
  cursor: pointer;
}

.question__container .timer {
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 0%;
  background: green;
  -webkit-animation: timer_animate 20s normal 2s 1 forwards;
          animation: timer_animate 20s normal 2s 1 forwards;
}

@-webkit-keyframes quest__p {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes quest__p {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes answer__p {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes answer__p {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes timer_animate {
  0% {
    width: 0%;
    background: green;
  }
  30% {
    background: green;
  }
  50% {
    background: yellow;
  }
  70% {
    background: red;
  }
  100% {
    width: 95%;
    background: red;
  }
}

@keyframes timer_animate {
  0% {
    width: 0%;
    background: green;
  }
  30% {
    background: green;
  }
  50% {
    background: yellow;
  }
  70% {
    background: red;
  }
  100% {
    width: 95%;
    background: red;
  }
}

@media (max-width: 700px) {
  .question__container {
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */